.codeflow-crud-manager {

    &__title-box {
        border-radius: 4px;
        transform: translateY(-2rem);
        margin: 2rem 25px 0 25px;
        padding: 8px 16px;
        height: 60px;
        position: relative;
        background: linear-gradient(40deg,#b2dfdb,#2a9699);
        box-shadow: 0 8px 17px 0 rgba(0,0,0,.12), 0 6px 20px 0 rgba(0,0,0,.12);
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    &__title-left {
        flex: 1;
        display: flex;
        justify-content: center;
        color: #fff;
        font-weight: 500;
    }

    &__title-button {

        &#{&} {
            color: $color-primary-invert;
            border-color: $color-primary-invert;
            width: 30px;
            height: 30px;
            font-size: 10px;

            &:hover {
                background-color: $color-primary-invert;
                color: $color-primary;
            }

            &:not(:last-child) {
                margin-right: $margin-md;
            }
        }
    }

    &__body {
        padding: $padding-sm $padding-md $padding-md $padding-md;
    }

}