.codeflow-data-table {

    border: none !important;

    &__action-column {
        display: flex;
        flex: 1;
        justify-content: center;
    }

    &__action-button {
        font-size: 14px;
        padding: 0 !important;

        &:not(:last-child) {
            margin-right: $margin-xs;
        }
    }

    &__th-row {
        box-shadow: none !important;
    }

    &__tr-group {
        border: none !important;
    }
    
    &__header-cell {
        margin-bottom: 2px !important;
        padding: 8px 12px 16px 0 !important;
        vertical-align: bottom !important;
        border-right: none !important;
        border-bottom: 2px solid #e9ecef  !important;
        display: flex !important;

        &:first-child {
            padding-left: $padding-sm !important;
        }

        &--filtering {
            padding: $padding-sm 0 0 0 !important;
            border-bottom: none !important;
        }
    }
    
    &__filter-cell {
        overflow: initial !important;
        border-bottom: 2px solid #e9ecef  !important;
    }

    &__body-row {
        border-bottom: 1px solid #e9ecef !important;
        
        &:hover:not(.-padRow) {
            transition: .5s;
            background-color: $color-hover !important;
        }
    }
    
    &__body-cell {
        border: none !important;
        padding: 16px 16px 16px 0 !important;
        align-items: center !important;
        display: flex !important;

        &:first-child {
            padding-left: $padding-sm !important;
        }
    }
    &__rowNumber {
        min-width: 13rem;
    }

    &__footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-top: 2rem;
    }

}